.service {
  min-height: 67.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 0 3%;
}

.background-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  min-height: 111.75rem;
  z-index: -1;
  clip-path: polygon(100% 23.2%, 0% 0%, 0% 100%, 100% 100%);
}

.background-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--blackColor500_55);
}

.background-container img {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.service-container {
  width: 104.9375rem;
}

.service-container h2 {
  width: 44.5625rem;
  color: var(--whiteColor500);
  margin-bottom: 4rem;
}

.service-content {
  display: flex;
}

.description {
  height: 100%;
  background-color: var(--blackColor500_50);
  padding: 2rem;
  backdrop-filter: blur(4.903987884521484px);
  margin-right: 2rem;
  border-radius: 0.5rem;
}

.description p {
  color: var(--whiteColor500);
  font-weight: 300;
  max-width: 29.9375rem;
  height: 100%;
  margin-bottom: 2.5rem;
}

.cards {
  display: flex;
  gap: 2rem;
  width: 100%;
  justify-content: flex-end;
}

.card {
  max-height: 36rem;
  width: 100%;
  border: 4px solid var(--whiteColor500);
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  overflow: hidden;
}

.card .top {
  background-color: grey;
  height: 100%;
}

.card .bottom {
  background-color: var(--blackColor500);
  width: 100%;
  height: 5.875rem;
  display: flex;
  justify-content: center;
  text-align: center;
  border-top: 4px solid var(--whiteColor500);
}

.card p {
  color: var(--whiteColor500);
  width: 9rem;
  font-weight: 300;
}

@media screen and (max-width: 1588px) {
  .card:nth-child(4) {
    display: none;
  }
}

@media screen and (max-width: 1280px) {
  .card:nth-child(4) {
    display: flex;
  }

  .service {
    min-height: 50rem;
  }

  .background-container {
    min-height: 74.5rem;
  }

  .service-container {
    width: 70.0625rem;
  }

  .service-container h2 {
    width: 30.9375rem;
  }

  .description p {
    min-width: 18.25em;
    margin-bottom: 1.25rem;
  }

  .card {
    border: 2px solid var(--whiteColor500);
  }

  .card .bottom {
    width: 100%;
    height: 4.25rem;
    border-top: 2px solid var(--whiteColor500);
  }

  .card p {
    width: 5.1875rem;
  }
}

@media screen and (max-width: 1188px) {
  .card:nth-child(4) {
    display: none;
  }
}

@media screen and (max-width: 960px) {
  .service {
    min-height: 64rem;
  }

  .service-container h2 {
    width: 17.9375rem;
  }

  .background-container {
    min-height: 84.125rem;
    clip-path: polygon(100% 18.2%, 0% 7.5%, 0% 100%, 100% 100%);
  }

  .cards {
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
  }

  .card {
    height: 13.375rem;
    width: 100%;
  }

  .card .bottom {
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .card p {
    width: 100%;
  }
}

@media screen and (max-width: 668px) {
  .service {
    min-height: 37.5rem;
    margin-bottom: 5rem;
  }

  .background-container {
    display: none;
  }

  .card:nth-child(4) {
    display: block;
  }

  .link-container {
    display: none;
  }

  .background-container {
    min-height: 70.125rem;
  }

  .service-container {
    width: 100%;
  }

  .service-container h2 {
    color: var(--blackColor500);
    margin-bottom: 1rem;
  }

  .service-content {
    flex-direction: column;
  }

  .description {
    background-color: transparent;
    padding: 0;
    backdrop-filter: none;
    margin-right: 0;
    border-radius: 0;
  }

  .description p {
    color: var(--blackColor500);
    max-width: none;
    margin-bottom: 2rem;
  }

  .description button {
    display: none;
  }

  .cards {
    align-items: center;
    gap: 0.5rem;
    justify-content: none;
  }

  .card {
    border: 2px solid var(--blackColor500);
    max-width: 21.4375rem;
    max-height: none;
    height: 5rem;
  }

  .card .top {
    background-color: transparent;
    display: none;
  }

  .card .bottom {
    background-color: transparent;
    height: 100%;
    border-top: none;
  }

  .card p {
    color: var(--blackColor500);
    width: none;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
  }

  .card:hover p {
    color: var(--primaryColorOrange600);
  }
}

@media screen and (max-width: 568px){
  .service{
    margin-bottom: 0;
  }
}
