.quality {
  min-height: 50rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 3%;
}

.quality-container {
  width: 104.9375rem;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.card {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 34rem;
  height: 37.0625rem;
  border-radius: 0.5rem;
  border: 2px solid var(--blackColor500);
  background: var(--whiteColor500);
  width: 100%;
}

.image-container {
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 11.75rem;
  height: 11.75rem;
  margin-bottom: 2rem;
  border-radius: 100%;
  background-color: var(--primaryColorOrange500);
  border: 2px solid var(--blackColor500);
}

.image-container img{
  width: 100%;
  height: 100%;
}



.description p {
  width: 19.25rem;
  display: inline-block;
}

@media screen and (max-width: 1280px) {
  .quality {
    min-height: 33.333125rem;
  }

  .quality-container {
    width: 70.0625rem;
  }

  .card {
    max-width: 22.3125rem;
    height: 24.32225rem;
    border-radius: 0.32813rem;
  }

  .image-container {
    width: 7.6875rem;
    height: 7.6875rem;
    margin-bottom: 1rem;
  }



  .description p {
    width: 12.625rem;
  }
}

@media screen and (max-width: 960px) {
  .quality {
    min-height: 22.94938rem;
  }

  .quality-container {
    width: 70.0625rem;
  }

  .card {
    border: 1px solid var(--blackColor500);
    height: 16.37706rem;
    border-radius: 0.32813rem;
  }

  .image-container {
  padding: .85rem;
    width: 4.5rem;
    height: 4.5rem;
    margin-bottom: 0.5rem;
    border: 1px solid var(--blackColor500);
  }



  .description p {
    font-size: 0.83313rem;
    line-height: 1rem;
    width: 8.75rem;
  }
}

@media screen and (max-width: 668px) {
}
