.hero {
  min-height: 59.25rem;
  display: flex;
  justify-content: center;
  padding: 0 3%;
}

.hero-container {
  width: 69.5rem;
}

.hero-cta {
  margin-top: 9.75rem;
}

.hero-cta h1 {
  width: 45.25rem;
  margin-bottom: 1rem;
}

.hero-cta h1 span {
  color: var(--primaryColorOrange500);
}

.hero-cta p {
  width: 51.75rem;
  margin-bottom: 2rem;
  color: var(--whiteColor500);
}

.cta-buttons {
  display: flex;
  gap: 1.5rem;
}


@media screen and (max-width: 1280px) {
  .hero {
    min-height: 41.75rem;
  }

  .hero-container{
    width: 58.125rem;
  }

  .hero-cta {
    margin-top: 7.19rem;
  }

  .hero-cta h1 {
    width: 33rem;
  }

  .hero-cta p {
    width: 34.25rem;
  }

 
}


@media screen and (max-width: 960px) {
  .hero-container{
    width: 35.125rem;
  }

  .hero-cta h1 {
    width: 26rem;
  }

  .hero-cta p {
    width: 27rem;
  }

 
}