.cta {
  min-height: 67.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid green;
  position: relative;
}

.cta img {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


