.about {
  min-height: 67.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-container {
  width: 104.9375rem;
  display: flex;
  flex-direction: column;
}

.link-container {
  display: flex;
  align-items: center;
  width: 10rem; /* adjust link distance from the right */
  height: 3rem;
  align-self: end;
}

.about-container h2 {
  width: 46.1875rem;
  margin: 1rem 0 4rem;
}

.about-content {
  display: flex;
  justify-content: center;
  max-width: 87.25rem;
  align-self: center;
  gap: 3.56rem;
}

.about-navigation-links {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.about-navigation-links li h3 {
  text-decoration-line: underline;
}

.card-container {
  min-width: 28.375rem;
  height: 26.9375rem;
}

.view-box {
  width: 28.375rem;
  height: 23.0625rem;
  border: 2px solid green;
}

.view-box-controls {
  margin-top: 2rem;
  margin-left: 2rem;
  display: flex;
  gap: 1.98rem;
}

.left-arrow,
.right-arrow {
  width: 1.875rem;
  height: 2.25994rem;
  cursor: pointer;
}
