.about {
  min-height: 67.5rem;
  border: 2px solid green;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-container {
  width: 104.9375rem;
  border: 2px solid green;
}

.link-container {
  display: flex;
  align-items: center;
  justify-items: flex-end;
  border: 2px solid pink;

}

.about-container h2 {
  width: 46.1875rem;
  margin: 1rem 0 4rem;
}
