.about {
  min-height: 67.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 3%;
}

.about-container {
  width: 104.9375rem;
  display: flex;
  flex-direction: column;
}

.link-container {
  display: flex;
  align-items: center;
  width: 10rem; /* adjust link distance from the right */
  height: 3rem;
  align-self: end;
}

.about-container h2 {
  width: 46.1875rem;
  margin: 1rem 0 4rem;
}

.about-content {
  display: flex;
  justify-content: center;
  max-width: 87.25rem;
  align-self: center;
  gap: 3.56rem;
  margin-left: 4rem;
}

.content {
  display: flex;
  gap: 3.56rem;
}

.about-navigation-links {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.about-navigation-links li h3 {
  text-decoration-line: underline;
}

.card-container {
  min-width: 28.375rem;
  height: 26.9375rem;
}

.view-box {
  width: 28.375rem;
  height: 23.0625rem;
  border: 2px solid black;
}

.view-box-controls {
  margin-top: 2rem;
  margin-left: 2rem;
  display: flex;
  gap: 1.98rem;
}

.left-arrow,
.right-arrow {
  width: 1.875rem;
  height: 2.25994rem;
  cursor: pointer;
}

@media screen and (max-width: 1280px) {
  .about {
    min-height: 50rem;
  }

  .about-container {
    width: 70.0625rem;
  }

  .link-container {
    display: flex;
    align-items: center;
    width: 10rem; /* adjust link distance from the right */
    height: 3rem;
    align-self: end;
  }

  .about-container h2 {
    width: 32.0625rem;
    margin: 0.5rem 0 2rem;
  }

  .about-content {
    max-width: 65.625rem;
    gap: 3.25rem;
    margin-left: 3rem;
  }

  .content {
    gap: 3.25rem;
  }

  .card-container {
    min-width: 19.375rem;
    height: 19.6875rem;
  }

  .view-box {
    width: 19.375rem;
    height: 15.8125rem;
  }

  .view-box-controls {
    margin-left: 1rem;
  }
}

@media screen and (max-width: 960px) {
  .about {
    min-height: 64rem;
  }
  .about-content {
    display: flex;
    flex-direction: column;
    gap: 3.25rem;
  }

  .content {
    gap: 3.25rem;
  }

  .card-container {
    min-width: 19.375rem;
    height: 19.6875rem;
    margin-left: 12.7569rem;
  }
}

@media screen and (max-width: 768px) {


  /* .link-container {
    display: flex;
    align-items: center;
    width: 10rem; adjust link distance from the right
    height: 3rem;
    align-self: end;
  } */

  .about-container h2 {
    width: 18.5625rem;
  }

  .about-content {
    margin-left: 2rem;
  }

  .card-container {
    min-width: 19.375rem;
    margin-left: 8.75125rem;
    height: 19.6875rem;
  }
}
