.featured {
  min-height: 67.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 0 3%;
}

.featured-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.featured-container h2 {
  margin-bottom: 3.87rem;
}

.slideshow-container {
  max-width: 80.25rem;
  position: relative;
  height: 28.5rem;
  width: 100%;
  margin-bottom: 4rem;
  border-radius: var(--radius);
  display: flex;
  overflow: hidden;
}

.slide {
  height: 100%;
  min-width: 100%;
  display: none;
}

.slide img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.showSlide{
display: block;
}

.left, .right{
  position: absolute;
  height: 5rem;
  width: 4rem;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background: rgba(173, 216, 230, 0.1);
  padding: 1rem;
  cursor: pointer;
}

.left:hover, .right:hover{
  background-color: rgba(173, 216, 230, 0.3)
}

.left img, .right img{
  color: var(--whiteColor500);
}

.left{
  border-radius: 0 var(--radius) var(--radius) 0;
}

.right{
  right: 0;
  border-radius: var(--radius) 0 0 var(--radius);

}


.featured-container p {
  font-weight: 300;
  margin-bottom: 2rem;
  text-align: center;
}

@media screen and (max-width: 1280px) {
  .featured {
    min-height: 50rem;
  }

  .featured-container h2 {
    margin-bottom: 4rem;
  }

  .slideshow-container {
    max-width: 80.25rem;
    height: 18.875rem;
  }

  .featured-container p {
    font-weight: 300;
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 960px) {
  .featured {
    min-height: 42.5rem;
  }

  .featured-container h2 {
    margin-bottom: 1.69rem;
  }

  .slideshow-container {
    max-width: 34.375rem;
    height: 14.0625rem;
    margin-bottom: 4rem;
  }

  .featured-container p {
    font-weight: 300;
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 668px) {
  .featured {
    min-height: 35rem;
  }
}

@media screen and (max-width: 568px) {
  .featured {
    display: none;
  }
}
