.featured {
  min-height: 67.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 0 3%;

}

.featured-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.featured-container h2 {
  margin-bottom: 3.87rem;
}

.slideshow-container {
  max-width: 80.25rem;
  border: 2px solid black;
  height: 28.5rem;
  width: 100%;
  margin-bottom: 4rem;
}

.featured-container p {
  font-weight: 300;
  margin-bottom: 2rem;
  text-align: center;

}

@media screen and (max-width: 1280px) {
  .featured {
    min-height: 50rem;
  }

  .featured-container h2 {
    margin-bottom: 4rem;
  }

  .slideshow-container {
    max-width: 80.25rem;
    height: 18.875rem;
  }

  .featured-container p {
    font-weight: 300;
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 960px) {
  .featured {
    min-height: 42.5rem;
  }

  .featured-container h2 {
    margin-bottom: 1.69rem;
  }

  .slideshow-container {
    max-width: 34.375rem;
    height: 14.0625rem;
    margin-bottom: 4rem;
  }

  .featured-container p {
    font-weight: 300;
    margin-bottom: 1rem;
  }
}
