/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* Constants */
:root {
  /* Font */
  --font: "Minister Book", sans-serif;

  /* Color */
  --primaryColorOrange500: #ed6426;

  --neutralColor700: #9b9491;

  --blackColor300: #605956;
  --blackColor500: #120703;
  --blackColor500_50: rgba(18, 7, 3, 0.5);
  --blackColor500_55: rgba(18, 7, 3, 0.55);
  --blackColor500_60: rgba(18, 7, 3, 0.6);

  --whiteColor500: #fef6f3;
  --whiteColor500_20: rgba(254, 246, 243, 0.2);
  --whiteColor500_05: rgba(254, 246, 243, 0.05);

  /* Radius */
  --radius: 0.5rem;
}

body {
  font-family: "Roboto", sans-serif;
  background: var(--whiteColor500);
  color: var(--blackColor500);
}

.App {
}

ul {
  list-style: none;
}

li {
  display: inline;
}

a {
  text-decoration: none;
}

button {
  border: none;
  border-radius: var(--radius);
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  line-height: 1.5rem;
  text-align: center;
}

h1,
h2 {
  font-size: 5.16rem;
  font-family: "Minister Book", sans-serif;
  font-weight: 500;
  line-height: 6.4375rem;
}

h1 {
  color: var(--whiteColor500);
}

h2 {
  line-height: 6.4375rem;
  color: var(--blackColor500);
}

h3 {
  color: var(--blackColor500);
  font-size: 1.72813rem;
  font-weight: 600; /* might change depending on screen size. Original was 500 font weight */
  line-height: 2.5rem;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 1.72813rem;
  font-weight: 400;
  line-height: 2.5rem;
  color: var(--blackColor300);
}

.secondary-button-one,
.primary-button-one {
  width: 16.25rem;
  height: 4.25rem;
}

.secondary-button-one {
  background-color: var(--whiteColor500);
  color: var(--blackColor500);
}

.primary-button-one {
  background-color: var(--primaryColorOrange500);
  color: var(--whiteColor500);
}
