@font-face {
  font-family: "Minister Book";
  src: url("../public/font/Minister-Book.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* Constants */
:root {
  /* Font */
  --font: "Minister Book", sans-serif;

  /* Color */
  --primaryColorOrange500: #f18351;
  --primaryColorOrange600: #d85b23;

  --neutralColor700: #9b9491;

  --blackColor300: #605956;
  --blackColor500: #120703;
  --blackColor500_50: rgba(18, 7, 3, 0.5);
  --blackColor500_55: rgba(18, 7, 3, 0.55);
  --blackColor500_60: rgba(18, 7, 3, 0.6);

  --whiteColor500: #fef6f3;
  --whiteColor500_20: rgba(254, 246, 243, 0.2);
  --whiteColor500_05: rgba(254, 246, 243, 0.05);
  --whiteColor600: #e7e0dd;

  /* Radius */
  --radius: 0.5rem;
}

body {
  font-family: "Roboto", sans-serif;
  background: var(--whiteColor500);
  color: var(--blackColor500);
}

.App {
  min-width: 425px;
}

ul {
  list-style: none;
}

li {
  display: inline;
}

a {
  text-decoration: none;
}

input,
textarea {
  border: 2px solid var(--whiteColor500);
  outline: none;
  background: none;
  resize: none;
}

button {
  border: none;
  border-radius: var(--radius);
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  line-height: 1.5rem;
  text-align: center;
}

h1,
h2 {
  font-size: 5.16rem;
  font-family: "Minister Book", sans-serif;
  font-weight: 500;
  line-height: 6.4375rem;
}

h1 {
  color: var(--whiteColor500);
}

h2 {
  line-height: 6.4375rem;
  color: var(--blackColor500);
}

h3 {
  color: var(--blackColor500);
  font-size: 1.72813rem;
  font-weight: 600; /* might change depending on screen size. Original was 500 font weight */
  line-height: 2.5rem;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 1.72813rem;
  font-weight: 400;
  line-height: 2.5rem;
  color: var(--blackColor300);
}

.secondary-button-one,
.primary-button-one {
  width: 16.25rem;
  height: 4.25rem;
}

.secondary-button-one {
  background-color: var(--whiteColor500);
  color: var(--blackColor500);
  transition: background-color 0.2s ease-in-out;

}

.secondary-button-one:hover{
  background-color: var(--whiteColor600);
}

.primary-button-one {
  background-color: var(--primaryColorOrange500);
  color: var(--whiteColor500);
  transition: background-color 0.2s ease-in-out;
}

.primary-button-one:hover{
  background-color: var(--primaryColorOrange600);
}

.primary-button-two {
  background-color: var(--primaryColorOrange500);
  color: var(--whiteColor500);
  width: 15.9375rem;
  height: 4rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
}


.secondary-button-two {
  background: none;
  color: var(--whiteColor500);
  width: 34rem;
  height: 8.875rem;
  font-size: 2.98625rem;
  font-weight: 500;
  line-height: 4rem;
  border: 3px solid var(--whiteColor500);
}


@media screen and (max-width: 1280px) {
  h1,
  h2 {
    font-size: 3.58375rem;
    line-height: 4.5rem;
  }

  p {
    font-size: 1rem;
    line-height: 2rem;
  }

  .secondary-button-one,
  .primary-button-one {
    width: 10.4375rem;
    height: 2.625rem;
  }

  button {
    font-size: 0.83313rem;
    font-weight: 400;
  }
}

@media screen and (max-width: 960px) {
  h1 {
    font-size: 2.98625rem;
    line-height: 4rem;
  }

  h2 {
    font-size: 2.07375rem;
    line-height: 3rem;
  }

  h3 {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5rem;
  }

  .secondary-button-one,
  .primary-button-one {
    width: 9.5rem;
    height: 2.375rem;
  }
}

@media screen and (max-width: 668px) {
  h1 {
    font-size: 2.07375rem;
    line-height: 3rem;
  }

  h2 {
    font-size: 1.72813rem;
    line-height: 2.5rem;
  }

  p {
    line-height: 1.5rem;
  }
}
